BasedOnStyle: Google
AccessModifierOffset: -2
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
DerivePointerAlignment: false
IncludeBlocks: Preserve
InsertNewlineAtEOF: true
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Left