BasedOnStyle: Google
AccessModifierOffset: -2
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
DerivePointerAlignment: false
IncludeBlocks: Preserve
InsertNewlineAtEOF: true
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Left