BasedOnStyle: Google
AccessModifierOffset: -2
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
InsertNewlineAtEOF: true
QualifierAlignment: Left